APP_ENV=development
APP_TITLE='FastAPI Education platform'
APP_DEBUG=true
API_PREFIX=/api

JWT_SECRET_KEY=f493fe04f949956f2abf0c1e465c6190a1af44a553ee1946ddaa4f45fa7ef541

DATABASE_URL=sqlite+aiosqlite:///./fastapi_education.db
DATABASE_ECHO=false
